<div class="row">
   <div class="col-lg-12">
      <h3>Listados
         <small>Listados del sistema</small>
      </h3>
   </div>
</div>
<div class='row actions' style='margin-top: 30px'>
  <div class='col-xs-10'>
    <div>
      <%= link_to 'Listado de aviones con mas horas de vuelo', top_time_path, class: 'btn btn-success' %>

      <%= link_to 'Listado de socios que deben su cuota mensual', debt_path, class: 'btn btn-success' %>
    
      <%= link_to 'Listado de vuelos mensuales', monthly_path, class: 'btn btn-success' %>

  </div>
</div>
