<div class="abs-center wd-xl">
   <!-- START panel-->
   <div class="text-center mb-xl">
      <div class="text-lg mb-lg">404</div>
      <p class="lead m0">No pudimos encontrar esta página.</p>
      <p>La página que está buscando no existe.</p>
   </div>
   <div class="input-group mb-xl">
      <input type="text" placeholder="Pruebe con la búsqueda" class="form-control" />
      <span class="input-group-btn">
         <button type="button" class="btn btn-default">
            <em class="fa fa-search"></em>
         </button>
      </span>
   </div>
   <ul class="list-inline text-center text-sm mb-xl">
      <li><a href="/dashboard" class="text-muted">Ir a la App</a>
      </li>
      <li class="text-muted">|</li>
      <li><a href="/pages/login" class="text-muted">Iniciar Sesión</a>
      </li>
      <li class="text-muted">|</li>
      <li><a href="/pages/register" class="text-muted">Registrarse</a>
      </li>
   </ul>
</div>