<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="<%= image_path('angle/aeroclub.jpg') %>" alt="Image" width="240" height="80" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">RESTABLECER CONTRASEÑA</p>
         <%= form_tag do_recover_path do %>
            <p class="text-center">Llena con su correo para recibir instrucciones sobre cómo restablecer su contraseña.</p>
            <div class="form-group has-feedback">
               <label for="resetInputEmail1" class="text-muted">Email</label>
               <input id="email" name="email" type="email" placeholder="Ingresa el email" autocomplete="off" class="form-control" />
            </div>
            <div class="form-group has-feedback">
               <label for="resetInputEmail1" class="text-muted">Password</label>
               <input id="password" name="password" type="password" placeholder="Ingrese nueva clave" autocomplete="off" class="form-control" />
            </div>
            <div class="form-group has-feedback">
               <label for="resetInputEmail1" class="text-muted">Confirmacion</label>
               <input id="password_confirmation" name="password_confirmation" type="password" placeholder="Confirme nueva clave" autocomplete="off" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success btn-block">Enviar</button>
         <% end %>
      </div>
   </div>
   <!-- END panel-->
</div>
