<div class="block-center mt-xl wd-xl">
   <!-- START panel-->
   <div class="panel panel-dark panel-flat">
      <div class="panel-heading text-center">
         <a href="#">
            <img src="<%= image_path('angle/aeroclub.jpg') %>" alt="Image" width="240" height="80" class="block-center img-rounded" />
         </a>
      </div>
      <div class="panel-body">
         <p class="text-center pv">RESTABLECER CONTRASEÑA</p>
         <form role="form">
            <p class="text-center">Llena con su correo para recibir instrucciones sobre cómo restablecer su contraseña.</p>
            <div class="form-group has-feedback">
               <label for="resetInputEmail1" class="text-muted">Email</label>
               <input id="resetInputEmail1" type="email" placeholder="Ingresa el email" autocomplete="off" class="form-control" />
               <span class="fa fa-envelope form-control-feedback text-muted"></span>
            </div>
            <button type="submit" class="btn btn-danger btn-block">Enviar</button>
         </form>
      </div>
   </div>
   <!-- END panel-->
</div>